@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: #557359;
    }
</style>

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
</head>

<body>  
<div class="text-center mb-5">
    <h1 class="display-4 text-dark fw-bold">Wypożyczalnia aut i lista salonów </h1>
</div>
    <figure class="figure mx-auto d-block">
        <img src="~/assets/autosalon.png" class="rounded mx-auto d-block" alt="...">

    </figure>

<footer class="border-top footer">
    <div class="text-center">
            Image by studio4rt on Freepik <br />
            Projekt wykonali: 
            <a href="https://github.com/Nokijoto">Rafał Wątroba</a>
            i
            <a href="https://github.com/kowu0">Remigiusz Wojak</a>
    </div>
</footer>
</body>
