@model Projekt_MVC.Models.SalonViewModel
@{
    ViewData["Title"] = "SalonList";
}

<div class="text-center">
    
    <h1 class="display-4">Salon List</h1>

    <ul class="List-group-item">
       
        <li class="list-group-item border border-0">Rzeszów ul. testowa 3/2<Br />Godziny otwarcia 8:00 - 16:00 <br /> Dni otwarcia poniedziałek - piątek</li>
        <li class="list-group-item border border-0">Szczebrzeszyn ul. testowa 4/2<Br />Godziny otwarcia 7:00 - 15:00 <br /> Dni otwarcia poniedziałek - sobota</li>
        <li class="list-group-item border border-0">Rzeszów ul. testerów 16b<Br />Godziny otwarcia 8:00 - 16:00 <br /> Dni otwarcia poniedziałek - piątek</li>
    </ul>
</div>

