@model Projekt_MVC.Models.SalonViewModel
@{
    ViewData["Title"] = "SalonList";
}
<style>
    body {
        background-color: black;
    }
</style>
<div class="text-center">
    
    <h1 class="display-4 text-light">Salon List</h1>

    <ul class="List-group-item">
       
        <li class="list-group-item border border-0 bg-black text-light">Rzeszów ul. testowa 3/2<Br />Godziny otwarcia 8:00 - 16:00 <br /> Dni otwarcia poniedziałek - piątek</li>
        <li class="list-group-item border border-0 bg-black text-light">Szczebrzeszyn ul. testowa 4/2<Br />Godziny otwarcia 7:00 - 15:00 <br /> Dni otwarcia poniedziałek - sobota</li>
        <li class="list-group-item border border-0 bg-black text-light">Rzeszów ul. testerów 16b<Br />Godziny otwarcia 8:00 - 16:00 <br /> Dni otwarcia poniedziałek - piątek</li>
    </ul>
    <br />
    <div class="text-center">

        <button type="button" class="btn btn-primary btn-sm text-right">Dodaj dane o salonie</button>
        <button type="button" class="btn btn-primary btn-sm text-right">Usuń dane o salonie</button>
        <button type="button" class="btn btn-primary btn-sm text-right">Zaktualizuj dane o salonie</button>
    </div>
</div>

