@model Projekt_MVC.Models.CarViewModel
@{
    ViewData["Title"] = "Delete Car";
}
<form method="post" asp-controller="CarList" asp-action="Index">


    @* 

    create form for new car based on CarModel.cs
  public int ID { get; set; }
        public string Name { get; set; }
        public string Model { get; set; }
        public string Color { get; set; }
        public string Year { get; set; }
        public string Price { get; set; }
        public string Description { get; set; }
        public EngineEnum Engine { get; set; }
        public int HorsePower { get; set; }
    *@
    <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" id="id" name="id" placeholder="Enter ID">
    </div>
       
    
   @* <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" id="id" name="id" placeholder="Enter ID">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="name">City</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="City">
    </div>
    <div class="form-group">
        <label for="name">Gender</label>
        <input type="number" class="form-control" id="gender" name="gender" placeholder="Gender">
    </div>*@
      <button type="submit" class="btn btn-primary">Submit</button>
</form>