@model Projekt_MVC.Models.CarViewModel
@{
    ViewData["Title"] = "Car Models";
}
<style>
    body {
        
        background-color: black;
    }
</style>
<div>
    <h1 class="display-4 text-center link-light">Dostępne modele</h1>
    <br />
    <figure class="figure">
        <img src="https://i.gyazo.com/70b495f0650829dffb7157db64c5ef03.png" class="rounded float-left" alt="...">

        <button type="button" class="btn btn-primary btn-md float-r">Wypożycz</button>

        <h4><figcaption class="figure-caption text-center link-light">Honda Accord</figcaption></h4>

    </figure>

       <figure class="figure">
        <img src="https://i.gyazo.com/70b495f0650829dffb7157db64c5ef03.png" class="rounded float-left" alt="...">

        <button type="button" class="btn btn-primary btn-md float-r">Wypożycz</button>
        <h4><figcaption class="figure-caption text-center link-light">Honda Civic</figcaption></h4>

    </figure>

       <figure class="figure">
        <img src="https://i.gyazo.com/70b495f0650829dffb7157db64c5ef03.png" class="rounded float-left" alt="...">

        <button type="button" class="btn btn-primary btn-md float-r">Wypożycz</button>
        <h4><figcaption class="figure-caption text-center link-light">Honda Accord</figcaption></h4>

    </figure>
    <br />
    <figure class="figure">
        <img src="https://i.gyazo.com/70b495f0650829dffb7157db64c5ef03.png" class="rounded float-left" alt="...">
  
        <button type="button" class="btn btn-primary btn-md text-right">Wypożycz</button>

        <h4><figcaption class="figure-caption text-center link-light">Auto1</figcaption></h4>

    </figure>
    <br />
    <figure class="figure">
        <img src="https://i.gyazo.com/70b495f0650829dffb7157db64c5ef03.png" class="rounded float-left" alt="...">

        <button type="button" class="btn btn-primary btn-md text-right">Wypożycz</button>

        <h4><figcaption class="figure-caption text-center link-light">Auto2</figcaption></h4>

    </figure>
    <br />
    <div class="text-center">

        <button type="button" class="btn btn-primary btn-sm text-right">Dodaj samochód</button>
        <button type="button" class="btn btn-primary btn-sm text-right">Usuń samochód</button>
        <button type="button" class="btn btn-primary btn-sm text-right">Zaktualizuj samochód</button>
    </div>
</div>