@model Projekt_MVC.Models.CarViewModel
@{
    ViewData["Title"] = "Car Models";
}
<div>
    <h1 class="display-4">Car Models</h1>

    <figure class="figure">
        <img src="https://media.istockphoto.com/id/1144633170/photo/cute-dog-driving-small-retro-car.jpg?s=612x612&w=0&k=20&c=cDN9smd95XuU-e-ZyIAWnxH8v7gAPGru1VqfqBcilTw=" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption">Potężny jaguar </figcaption>
    </figure>

</div>