@{
    ViewData["Title"] = "Create Car";
}
<form method="post" asp-controller="CarList" asp-action="CreateNewCar">


    @* 

    create form for new car based on CarModel.cs
  public int ID { get; set; }
        public string Name { get; set; }
        public string Model { get; set; }
        public string Color { get; set; }
        public string Year { get; set; }
        public string Price { get; set; }
        public string Description { get; set; }
        public EngineEnum Engine { get; set; }
        public int HorsePower { get; set; }
    *@
    <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" id="id" name="id" placeholder="Enter ID">
    </div>
    <div class="form-group">
        <label for="make">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model" name="model" placeholder="Enter Model">
    </div>
    <div class="form-group">
        <label for="year">Year</label>
        <input type="text" class="form-control" id="year" name="year" placeholder="Enter Year">
    </div>
    <div class="form-group">
        <label for="color">Color</label>
        <input type="text" class="form-control" id="color" name="color" placeholder="Enter Color">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="Enter Price">
    </div>
    <div class="form-group">
        <label for="mileage">Description</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Enter Description">
    </div>
     <div class="form-group">
        <label for="mileage">Engine</label>
        <input type="number" class="form-control" id="engine" name="engine" placeholder="Enter Engine">
    </div>
     <div class="form-group">
        <label for="mileage">HorsePower</label>
        <input type="number" class="form-control" id="horsepower" name="horsepower" placeholder="Enter HorsePower">
    </div>
       
    
   @* <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" id="id" name="id" placeholder="Enter ID">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="name">City</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="City">
    </div>
    <div class="form-group">
        <label for="name">Gender</label>
        <input type="number" class="form-control" id="gender" name="gender" placeholder="Gender">
    </div>*@
    <br />
      <button type="submit" class="btn btn-primary">Submit</button>
</form>