@model Projekt_MVC.Models.TDriveModel.CreateTestDriveViewModel
@{
    ViewData["Title"] = "NewTestDrive";
   
}

<h4>CreateTestDriveViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="TestDrive" asp-action="CreateNewTestDrive">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesel" class="control-label"></label>
                <input asp-for="Pesel" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrTel" class="control-label"></label>
                <input asp-for="NrTel" class="form-control" />
                <span asp-validation-for="NrTel" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="car" class="control-label"></label>
                <input asp-for="car.ID" readonly class="form-control" />
               @* <input asp-for="car.Name" readonly class="form-control" />
                <input asp-for="car.Description" readonly class="form-control" />
                <input asp-for="car.Year" readonly class="form-control" />
                <span asp-validation-for="car" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
